@tailwind base;
@tailwind components;
@tailwind utilities;


.Header{
    width: 1440px;
    height: 732px;
}
.Header1{
    background-color: #E7E7E7;
}
.Header2{
    background-image: url("./img/photo1.svg");
    width: 1441px;
    height: 563px;
}
.text1{
    width: 1217px;
    justify-content: space-between;
    display: flex;
    padding-left: 112px;
    padding-top: 445px;
    align-items: center;
}
.Proof{
    background-color: #FC7A1D;
    width: 1440px;
    height: 112px;
}
.logos{
    width: 1216px;
    justify-content: space-between;
    display: flex;
    padding-left: 112px;
    padding-top: 40px;
    align-items: center;
}