@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    margin: 0;
    padding: 0;
    height: 100%;

  }
.allies{
    display: grid;
    place-items: center; 
    height: 100vh; 
    width: 100vw; 
} 
.Header{
    width: 1440px;
    height: 732px;
}
.Header1{
    background-color: #E7E7E7;
}
.Header2{
    background-image: url("./img/photo1.svg");
    width: 1441px;
    height: 563px;
}
.text1{
    width: 1217px;
    justify-content: space-between;
    display: flex;
    padding-left: 112px;
    padding-top: 445px;
    align-items: center;
}
.Proof{
    background-color: #FC7A1D;
    width: 1440px;
    height: 112px;
}
.logos{
    width: 1216px;
    justify-content: space-between;
    display: flex;
    padding-left: 112px;
    padding-top: 40px;
    align-items: center;
}
.product-all1{
    width: 1440px;
    height: 720px;
}
.product1{
    padding-top: 126px;
    padding-left: 112px;
}
.pravo{
    background-image: url("./img/product2.svg");
    width: 720px;
    height: 720px;
    object-fit: contain;
}
.product-all2{
    width: 1440px;
    height: 764px;
}
.product2{
    background-image: url("./img/product3.svg");
    width: 596px;
    height: 636px;
    background-color: #E7E7E7;
    border-radius: 10px;
}
.product-all3{
    width: 1440px;
    height: 768px;

}
.product3-1{
    background-image: url("./img/women1.svg");
    width: 608px;
    height: 640px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.product3-2{
    background-image: url("./img/men1.svg");
    width: 608px;
    height: 640px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.Social-proof{
    width: 1440px;
    height: 502px;
    display: flex;
    justify-content: center;
    gap: 64px;
}
.text3{
    background-image: url("./img/fon1.svg");
    width: 1216px;
    height: 286px;
}
.product4all{
    width: 1440px;
    height: 694px;
}
.product4-1-4{
    background-image: url("./img/women5.svg");
    background-color: #E7E7E7;
    width: 270px;
    height: 420px;
}
.features1all{
    width: 1440px;
    height: 808px;
}
.features1-1a{
    background-image: url('./img/flowers1.svg');
    width: 596px;
    height: 600px;
}
.features1-2-3{
    width: 596px;
    height: 600px;
}
.features1-2b{
    background-image: url('./img/features1.svg');
    width: 596px;
    height: 288px;
}
.features1-3c{
    background-image: url('./img/features2.svg');
    width: 596px;
    height: 288px;
}
.features2{
    width: 1440px;
    height: 168px;
}